.column_div{
    display: flex;
    justify-content: center;
}


.homepage_card{
    width: 30%;
    margin: 1rem;
}

@media only screen and (max-width: 768px) {
    .column_div {
        flex-direction: column;
    }
    
    .homepage_card{
        width: 80%;
    }
  }