.Projects{
    margin-left: auto;
    margin-right: auto;
}

.project_card{
    width: 80%;
}

.project_text{
    width: 60%;
    text-align: justify;
    text-justify: inter-word;
    padding: 1rem;
}

.project_img{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.project_text_img{
    display: flex;
    flex-direction: row;
}

#ada{
    width: 20rem;
    height: 20rem;
}

#fjarmalaport{
    width: 20rem;
    height: 15rem;
}

#portaplants{
    width: 22rem;
    height: 14rem; 
}

#heimaleikar{
    width: 20rem;
    height: 20rem;
}

@media only screen and (max-width: 768px) {
    .project_text_img {
        flex-direction: column;
    }
    .project_text{
        width: 100%;
    }
  }